@import url('https://fonts.googleapis.com/css?family=Bitter:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


select {
    display: block;
}

/* recipes */

.logo-text:hover {
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #302f2d;
}

.recipe-img-container:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 20px;
    font-family: "Bitter";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.recipes-page-img {
    width: 100%;
    display: inline-block;
    opacity: 1;
}

.recipes-page-img:hover {
    opacity: 0;
}

.recipe-text {
    top: 50%;
    left: 50%;
    position: absolute;
}

.recipe-text:hover {
    visibility: visible;
}

.recipe-img-container {
    display: inline-block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* !important used to override the 15px padding put in by Bootstrap */
}

/* nav */

.nav-wrapper {
    background-color: #429ef4;
}

.brand-logo {
    font-family: "bitter";
    font-weight: 500;
    padding-left: 10px;
    margin-left: 20px;
}

.nav-text {
    font-family: "bitter";
    font-weight: 300;
}

/* show_recipe */

.recipe-header {
    background-color: #f04a69;
}

#recipe-logo-div {
    padding: 0;
}

#recipe-logo {
    width: 100%;
    height: 100%;
}

.recipe-title {
    text-align: center;
    color: #fafafa;
    margin-top: 80px;
    font-family: 'Bitter';
    font-weight: 500;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.recipe-subtitle {
    display: inline-block;
    margin-top: 10px;
    color: #fafafa;
    font-family: 'Bitter';
    font-weight: 200;
}

#recipe-author-text {
    margin-right: 100px;
}

#recipe-serves-text {
    margin-left: 100px;
}

.title-divider {
    background-color: #fafafa;
    border-width: 2px;
    width: 20%;
}

.ingredients-container {
    background-color: red;
    height: 1000px;
}

.header-container {
    margin: 0;
}

/* cuisines.html */

.cuisine-container {
    width: 60%;
    margin-top: 20px;
}

.cuisine-row {
    background-color: #faebd7;
    border: 0.5px solid black;
    margin: 0;
    padding: 10px;
}

.cuisine-btn {
    display: inline-block;
}

.cuisine-text {
    font-family: "Bitter";
    font-weight: 600;
}

.cuisines-title {
    margin-top: 15px;
    text-align: center;
}

.add-cuisine-btn {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* addcuisine.html */

.add-cuisine-form {
    margin-top: 10px;
}

/* recipes by cuisine.html */

.results-text {
    text-align: center;
    font-family: "Bitter";
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5px;
}
