{% extends 'base.html' %} {% block content %}


<div class="container">
    <h1>Add a Recipe</h1>
    <div class="row">
        <form class="col s12" method="POST" action="{{url_for('insert_recipe')}}">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <h4>Ingredients</h4>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="ingredients_1_name" name="ingredients_1_name"  type="text" class="validate">
                    <label for="ingredients_1_name">Ingredient</label>
                </div>
                <div class="input-field col s3">
                    <input id="ingredients_1_quantity" name="ingredients_1_quantity" type="text" class="validate">
                    <label for="ingredients_1_quantity">Quantity</label>
                </div>
                <div class="input-field col s3">
                    <input id="ingredients_1_unit" name="ingredients_1_unit" type="text" class="validate">
                    <label for="ingredients_1_unit">Unit</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input  id="ingredients_2_name" name="ingredients_2_name" type="text" class="validate">
                    <label for="ingredients_2_name">Ingredient</label>
                </div>
                <div class="input-field col s3">
                    <input id="ingredients_2_quantity" name="ingredients_2_quantity" type="text" class="validate">
                    <label for="ingredients_2_quantity">Quantity</label>
                </div>
                <div class="input-field col s3">
                    <input id="ingredients_2_unit" name="ingredients_2_unit" type="text" class="validate">
                    <label for="ingredients_2_unit">Unit</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input  id="ingredients_3_name" name="ingredients_3_name" type="text" class="validate">
                    <label for="ingredients_3_name">Ingredient</label>
                </div>
                <div class="input-field col s3">
                    <input id="ingredients_3_quantity" name="ingredients_3_quantity" type="text" class="validate">
                    <label for="ingredients_3_quantity">Quantity</label>
                </div>
                <div class="input-field col s3">
                    <input id="ingredients_3_unit" name="ingredients_3_unit" type="text" class="validate">
                    <label for="ingredients_3_unit">Unit</label>
                </div>
            </div>
            <div id="TextBoxes"></div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" id="addButton">Add More</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger" id="removeButton">Remove</button>
                </div>
            </div>
            <div class="row">
                <h4>Method</h4>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="steps_1_method" name="steps_1_method" class="materialize-textarea"></textarea>
                    <label for="steps_1_method">Step 1.</label>
                </div>
            </div>
            <div id="newMethodBoxes"></div>
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary" id="addMethod">Add Step</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger" id="removeMethod">Remove Step</button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="cuisine_name" name="cuisine_name" onchange="showfield(this.options[this.selectedIndex].value)">
                  <option value="" disabled selected></option>
                  {% for cuisine in cuisines %}
                  <option value="{{cuisine.name}}">{{cuisine.name.capitalize()}}</option>
                  {% endfor %}
                  <option value="Other">Other</option>
                </select>
                    <div id="div1"></div>
                    <label>Type of Cuisine</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Recipe Author" id="recipe_author" name="recipe_author" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Image URL" id="image_url" name="image_url" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Serves" id="serves" name="serves" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Upvotes" id="upvotes" name="upvotes" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Views" id="views" name="views" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
