{% extends 'base.html' %}{% from "_render_field.html" import render_field %}{% block content %}

<div class="container-fluid background">
    <h1>Add a Recipe</h1>
    <form method="POST" action="{{url_for('insert_recipe')}}">
        {{ form.csrf_token }}
        {{ render_field(form.recipe_name) }} 
        {{ render_field(form.ingredients) }}
        <button>Add More</button>
        <br> 
        {{ render_field(form.steps) }} 
        {{ render_field(form.cuisine_type) }} 
        {{ render_field(form.recipe_author) }}
        {{ render_field(form.image_url) }} 
        {{ render_field(form.serves) }}
        <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe</button>
    </form>
</div>
{% endblock %}
