{% extends 'base.html' %}{% from "_render_field.html" import render_field %}{% block content %}

<div class="container-fluid background">
    <h1 class="add-recipe-title">Add a Recipe</h1>
    <form name="addrecipe-form" class="add-recipe-form-container" method="POST" action="{{url_for('insert_recipe')}}" onsubmit="return validateForm()">
        {{ form.csrf_token }} 
        {{ render_field(form.recipe_name) }}
        <div class="row">
            <h4>Ingredients</h4>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="ingredients_1_name" name="ingredients_name_1" type="text" class="validate" required>
                <label for="ingredients_1_name">Ingredient</label>
            </div>
            <div class="input-field col s3">
                <input id="ingredients_1_quantity" name="ingredients_quantity_1" type="text" class="validate" required>
                <label for="ingredients_1_quantity">Quantity</label>
            </div>
            <div class="input-field col s3">
                <input id="ingredients_1_unit" name="ingredients_unit_1" type="text" class="validate" required>
                <label for="ingredients_1_unit">Unit</label>
            </div>
        </div>
        <div id="TextBoxes"></div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary" id="addButton">Add More</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-danger" id="removeButton">Remove</button>
            </div>
        </div>
        <br> 
        <div class="row">
                <h4>Method</h4>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="steps_1_method" name="steps_method_1" class="materialize-textarea" required></textarea>
                <label for="steps_1_method">Step 1.</label>
            </div>
        </div>
            <div id="newMethodBoxes"></div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary" id="addMethod">Add Step</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-danger" id="removeMethod">Remove Step</button>
            </div>
        </div>
        {{ render_field(form.cuisine_name) }}
        {{ render_field(form.recipe_author) }} 
        {{ render_field(form.image_url) }}
        {{ render_field(form.difficulty) }}
        <br>
        {{render_field(form.cooking_time) }}
        {{ render_field(form.total_time) }}
        {{ render_field(form.serves) }}
        <input type="hidden" id="upvotes" value="" name="upvotes">
        <div class="button-holder"><button class="btn waves-effect waves-light add-recipe-submit" type="submit" name="action">Add Recipe</button></div>
    </form>
</div>
{% endblock %}
