<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="{{url_for('get_recipes')}}" class="brand-logo">Live To Cook</a>
            <a href="{{url_for('get_recipes')}}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="nav-text"><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                <li class="nav-text"><a href="{{url_for('get_cuisines')}}">Manage Cuisines</a></li>
            </ul>
            <ul class="sidenav" id="mobile-demo">
                <li class="nav-text"><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                <li class="nav-text"><a href="badges.html">Manage Cuisines</a></li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        function showfield(name) {
            if (name == 'Other') document.getElementById('div1').innerHTML = 'Other: <input type="text" name="other" />';
            else document.getElementById('div1').innerHTML = '';
        }
        $(document).ready(function() {
            var counter = 2;
            var step_number = 2;
            var ingredient_number = 4;
            $("#addButton").click(function() {
                var newTextRow = $(document.createElement('div')).attr({ class: 'row', id: 'inputBoxDiv' + counter });
                newTextRow.after().html("<div class='input-field col s6'><input name='ingredients_" + ingredient_number + "_name' id='ingredients_" + ingredient_number + "_name' type='text' class='validate'><label for='ingredients_" + ingredient_number + "_name'>Ingredient</label></div><div class='input-field col s3'><input id='ingredients_" + ingredient_number + "_quantity' name='ingredients_" + ingredient_number + "_quantity' type='text' class='validate'><label for='ingredients_" + ingredient_number + "_quantity'>Quantity</label></div><div class='input-field col s3'><input id='ingredients_" + ingredient_number + "_unit' name='ingredients_" + ingredient_number + "_unit' type='text' class='validate'><label for='ingredients_" + ingredient_number + "_unit'>Unit</label></div>");
                newTextRow.appendTo("#TextBoxes");
                counter++;
                ingredient_number++;
            });
            $("#removeButton").click(function() {
                if (counter == 1) {
                    alert("Minimum Number of Ingredients Reached");
                    return false;
                }
                counter--;
                $("#inputBoxDiv" + counter).remove();
            });
            $('#steps.method').val('');
            M.textareaAutoResize($('#steps,method'));
            $("#addMethod").click(function() {
                var newMethodRow = $(document.createElement('div')).attr({ class: 'row', id: 'methodBoxDiv' + step_number });
                newMethodRow.after().html("<div class='input-field col s12'><textarea id='steps_" + step_number + "_method' name='steps_" + step_number + "_method' class='materialize-textarea'></textarea><label for='steps_" + step_number + "_method'>Step " + step_number + ".</label></div>");
                newMethodRow.appendTo("#newMethodBoxes");
                step_number++;
            });
            $("#removeMethod").click(function() {
                $("#methodBoxDiv" + step_number).remove();
                if (step_number <= 2) {
                    alert("Minumum Number of Steps Reached");
                    return false;
                }
                step_number--;
            });
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
        });
    </script>


</body>

</html>
