{% extends 'base.html' %} {% block content %}

<div class="fluid-container background">
    <div class="row">
        <div class="col-12">
            {% if results_total < 2 %}
            <h3 class="results-text">{{results_total}} recipe found</h3>
            {% else %}
            <h3 class="results-text">{{results_total}} recipes found</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-4 no-gutters recipe-img-container">
            <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}"><img class="recipes-page-img" src="{{recipe.image_url}}"></img>
            <div class="overlay">
                <div class="text">{{ recipe.recipe_name }} <br> <i>{{ recipe.recipe_author.title() }}</i></div>
            </div></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
